<a href="https://colab.research.google.com/github/ThorGroth/D-D/blob/master/04.03.25Thor_Michael_Groth_PythonDrills_11_for_loops_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Aufgabe 1: Elemente einer Liste ausgeben

Ergänze den Code, um alle Elemente in der Liste `fruits` auszugeben.

In [ ]:
fruits = ["Apfel", "Banane", "Kirsche", "Mango"]
for fruit in fruits:
    print(fruit)

Apfel
Banane
Kirsche
Mango

## Aufgabe 2: Länge von Wörtern berechnen

Ergänze den Code, um die **Längen** der Wörter in `words` auszugeben.

In [ ]:
words = ["Katze", "Hund", "Elefant"]
for word in words:
    print(len(word))

5
4
7

## Aufgabe 3: Zahlen verdoppeln

Ergänze den Code, um jedes Element in `zahlen` zu verdoppeln und auszugeben.

In [ ]:
zahlen = [1, 2, 3, 4, 5]
for zahl in zahlen:
    print(zahl * 2)

2
4
6
8
10

## Aufgabe 4: Quadrate von Zahlen berechnen

Ergänze den Code, um die **Quadrate** aller Zahlen in `werte` auszugeben.

In [ ]:
werte = [2, 4, 6, 8]
for wert in werte:
    print(wert ** 2)

4
16
36
64

## Aufgabe 5: Zeichen in Großbuchstaben umwandeln

Ergänze den Code, um alle Elemente von `buchstaben` in **Großbuchstaben** auszugeben.

In [ ]:
buchstaben = ["a", "b", "c", "d"]
for buchstabe in buchstaben:
    print(buchstabe.upper())

A
B
C
D

## Aufgabe 6: Nur gerade Zahlen ausgeben

Ergänze den Code, um nur die **geraden Zahlen** aus `zahlen` auszugeben.

In [ ]:
zahlen = [1, 2, 3, 4, 5, 6, 7, 8]
for zahl in zahlen:
    if zahl % 2 == 0:
        print(zahl)

2
4
6
8

## Aufgabe 7: Nur ungerade Zahlen ausgeben

Ergänze den Code, um nur die **ungeraden Zahlen** aus `zahlen` auszugeben.

In [ ]:
zahlen = [10, 11, 12, 13, 14, 15]
for zahl in zahlen:
    if zahl % 2 != 0:
        print(zahl)

11
13
15

## Aufgabe 8: Wörter mit mehr als 4 Buchstaben ausgeben

Ergänze den Code, um nur Wörter mit **mehr als 4 Zeichen** auszugeben.

In [ ]:
words = ["Auto", "Haus", "Schmetterling", "Baum"]
for word in words:
    if len(word) > 4 :
        print(word)

Schmetterling

## Aufgabe 9: Wörter filtern, die mit 'A' beginnen

Ergänze den Code, um nur Wörter auszugeben, die mit `"A"` beginnen.

In [ ]:
namen = ["Anna", "Ben", "Alice", "Markus"]
for name in namen:
    if name.startswith("A"):
        print(name)

Anna
Alice

## Aufgabe 10: Zahlen größer als 5 und gerade ausgeben

Ergänze den Code, um nur Zahlen auszugeben, die **größer als 5 und durch 2 teilbar** sind.

In [ ]:
werte = [2, 4, 6, 8, 10, 12]
for wert in werte:
    if wert > 5 and wert % 2 == 0:
        print(wert)

6
8
10
12

## Aufgabe 11: Neue Liste mit Quadraten erstellen

Ergänze den Code, um eine neue Liste `quadrate` mit den Quadraten der Werte in `zahlen` zu erstellen.

In [ ]:
zahlen = [1, 2, 3, 4, 5]
quadrate = []
for zahl in zahlen:
    quadrate.append(zahl ** 2)
print(quadrate)

[1, 4, 9, 16, 25]

## Aufgabe 12: Neue Liste mit Großbuchstaben erstellen

Ergänze den Code, um eine neue Liste `großbuchstaben` mit allen Buchstaben aus `kleinbuchstaben` in Großbuchstaben zu erstellen.

In [ ]:
kleinbuchstaben = ["a", "b", "c", "d"]
grossbuchstaben = []
for buchstabe in kleinbuchstaben:
    grossbuchstaben.append(buchstabe.upper())
print(grossbuchstaben)

['A', 'B', 'C', 'D']

## Aufgabe 13: Neue Liste mit kurzen Wörtern erstellen

:Ergänze den Code, um eine neue Liste `short_words` mit allen Wörtern mit **höchstens 4 Buchstaben** zu erstellen.

In [ ]:
words = ["Apfel", "Ei", "Katze", "Hund", "Baum"]
short_words = []
for word in words:
    if len(word) <= 4:
        short_words.append(word)
print(short_words)

['Ei', 'Hund', 'Baum']

## Aufgabe 14: Längstes Wort in Liste finden

Ergänze den Code, um das längste Wort in `words` zu finden und auszugeben.

In [ ]:
words = ["Apfel", "Banane", "Kirsche", "Erdbeere"]
max_word = ""
for word in words:
    if len(word) > len(max_word):
        max_word = word
print(max_word)

Erdbeere

## Aufgabe 15: Anzahl der Vokale in Wörtern zählen

Ergänze den Code, um die Anzahl der **Vokale** in jedem Wort aus `wörter` zu zählen und auszugeben.

In [ ]:
words = ["Auto", "Banane", "Eule"]
for word in words:
    count = 0
    for character in word:
        if character in "aeiouAEIOU":
            count += 1
    print(f"{word}: {count}")

Auto: 3
Banane: 3
Eule: 3

## Aufgabe 16: Summe aller Zahlen berechnen

Ergänze den Code, um die **Summe aller Zahlen** in `werte` zu berechnen.

In [ ]:
werte = [3, 7, 1, 8, 2]
summe = 0
for wert in werte:
    summe += wert
print(summe)

21

## Aufgabe 17: Liste in einen einzigen String umwandeln

Ergänze den Code, um die Liste `namen` in einen einzigen String zusammenzuführen.

In [ ]:
namen = ["Anna", "Ben", "Clara"]
gesamttext = ""
for name in namen:
    gesamttext += name
print(gesamttext)

AnnaBenClara

## Aufgabe 18: Anzahl der Wörter in Sätzen zählen

Ergänze den Code, um die Anzahl der Wörter in `texte` zu zählen.

In [ ]:
texte = ["Ich liebe Python", "For-Schleifen sind nützlich", "Listen sind toll"]
gesamtanzahl = 0
for text in texte:
    gesamtanzahl += len(text.split())
print(gesamtanzahl)

9

## Aufgabe 19: Erste gerade Zahl finden und Schleife stoppen

Ergänze den Code, um nach der ersten **geraden Zahl** in `zahlen` die Schleife zu beenden.

In [ ]:
zahlen = [1, 3, 5, 8, 9]
for zahl in zahlen:
    if zahl % 2 == 0:
        print(zahl)
        break

8

## Aufgabe 20: Zahl `5` überspringen

Ergänze den Code, um alle **Zahlen außer 5** auszugeben.

In [ ]:
zahlen = [1, 2, 3, 4, 5, 6, 7]
for zahl in zahlen:
    if zahl == 5:
        continue
    print(zahl)

1
2
3
4
6
7