<a href="https://colab.research.google.com/github/ThorGroth/D-D/blob/master/04.03.25Thor_Michael_Groth_PythonDrills_12_dictionaries_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Aufgabe 1: Ein leeres Dictionary erstellen

Erstelle ein leeres Dictionary und speichere es in der Variable `mein_dict`.

In [ ]:
mein_dict = {}
print(mein_dict)  # Erwartete Ausgabe: {}

{}

## Aufgabe 2: Dictionary mit Namen und Alter

Erstelle ein Dictionary mit den Namen als Schlüssel und den dazugehörigen Alter als Werte.

In [ ]:
personen = {"Anna": 25, "Ben": 30, "Clara": 22}
print(personen)  # Erwartete Ausgabe: {'Anna': 25, 'Ben': 30, 'Clara': 22}

{'Anna': 25, 'Ben': 30, 'Clara': 22}

## Aufgabe 3: Wert für einen Schlüssel abrufen

Ergänze den Code, um auf den Wert des Schlüssels `'Banane'` in `fruits` zuzugreifen.

In [ ]:
fruits = {"Apfel": 3, "Banane": 5, "Kirsche": 8}
anzahl_bananen = fruits ["Banane"]
print(anzahl_bananen)  # Erwartete Ausgabe: 5

5

## Aufgabe 4: Alter von Clara abrufen

Ergänze den Code, um auf das Alter von `'Clara'` im Dictionary `personen` zuzugreifen.

In [ ]:
personen = {"Anna": 25, "Ben": 30, "Clara": 22}
alter_clara = personen ["Clara"]
print(alter_clara)  # Erwartete Ausgabe: 22

22

## Aufgabe 5: Neuen Schlüssel-Wert hinzufügen

Ergänze den Code, um einen neuen Eintrag `'Mango': 10` zu `fruits` hinzuzufügen.

In [ ]:
fruits = {"Apfel": 3, "Banane": 5, "Kirsche": 8}
fruits["Mango"] = 10
print(fruits)

{'Apfel': 3, 'Banane': 5, 'Kirsche': 8, 'Mango': 10}

## Aufgabe 6: Auto-Modell abrufen

Ergänze den Code, um das Modell des Autos aus `auto` abzurufen.

In [ ]:
auto = {"Marke": "BMW", "Modell": "X5", "Baujahr": 2020}
modell = auto["Modell"]
print(modell)  # Erwartete Ausgabe: X5

X5

## Aufgabe 7: Buch-Dictionary erstellen

Ergänze den Code, um das Dictionary `buch` zu erstellen und den Titel abzurufen.

In [ ]:
buch = {"Titel": "Harry Potter"}
titel = buch["Titel"]
print(titel)  # Erwartete Ausgabe: "Harry Potter"

Harry Potter

## Aufgabe 8: Wert eines Schlüssels ändern

Ergänze den Code, um das Gehalt von `'Anna'` im Dictionary `mitarbeiter` zu ändern.

In [ ]:
mitarbeiter = {"Anna": 3000, "Ben": 3500, "Clara": 2800}
mitarbeiter["Anna"] = 3769
print(mitarbeiter)

{'Anna': 3769, 'Ben': 3500, 'Clara': 2800}

## Aufgabe 9: Schlüssel in Dictionary prüfen

Ergänze den Code, um das Vorhandensein des Schlüssels `'Tesla'` in `autos` zu prüfen.

In [ ]:
autos = {"BMW": "X5", "Audi": "A6", "Mercedes": "C-Klasse"}
ist_vorhanden = "Tesla" in autos
print(ist_vorhanden)  # Erwartete Ausgabe: False

False

## Aufgabe 10: Wert mit `get()` abrufen

Ergänze den Code, um den Wert für den Schlüssel `'Preis'` aus `produkt` zu holen. Falls der Schlüssel nicht existiert, soll `0` zurückgegeben werden.

In [ ]:
produkt = {"Name": "Laptop", "Marke": "Dell"}
preis = produkt.get("Preis", 0)
print(preis)  # Erwartete Ausgabe: 0

0

## Aufgabe 11: Schlüssel zu Dictionary hinzufügen

Ergänze den Code, um eine neue Telefonnummer für `'Clara'` zu `kontakte` hinzuzufügen.

In [ ]:
kontakte = {"Anna": "123-456", "Ben": "987-654"}
kontakte["Clara"] = "555-123"
print(kontakte)

{'Anna': '123-456', 'Ben': '987-654', 'Clara': '555-123'}

## Aufgabe 12: Wert verdoppeln

Ergänze den Code, um die Anzahl der `'Eier'` in `einkaufsliste` zu verdoppeln.

In [ ]:
einkaufsliste = {"Milch": 1, "Eier": 6, "Brot": 2}
einkaufsliste["Eier"] *= 2
print(einkaufsliste)

{'Milch': 1, 'Eier': 12, 'Brot': 2}

## Aufgabe 13: Alle Schlüssel ausgeben

Ergänze den Code, um alle Schlüssel aus `personen` auszugeben.

In [ ]:
personen = {"Anna": 25, "Ben": 30, "Clara": 22}
schluessel = list(personen.keys())
print(schluessel)

['Anna', 'Ben', 'Clara']

## Aufgabe 14: Alle Werte ausgeben

Ergänze den Code, um alle Werte aus `personen` auszugeben.

In [ ]:
personen = {"Anna": 25, "Ben": 30, "Clara": 22}
werte = list(personen.values())
print(werte)

[25, 30, 22]

## Aufgabe 15: Dictionary um neuen Eintrag erweitern

Ergänze den Code, um das Dictionary `tiere` um `'Katze': 2` zu erweitern.

In [ ]:
tiere = {"Hund": 4, "Maus": 2}
tiere["Katze"] = 2
print(tiere)

{'Hund': 4, 'Maus': 2, 'Katze': 2}

## Aufgabe 16: Zwei Dictionaries zusammenführen

Ergänze den Code, um `dict1` und `dict2` zu einem neuen Dictionary `gesamt_dict` zu vereinen.

In [ ]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
gesamt_dict = {**dict1, **dict2}
print(gesamt_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

## Aufgabe 17: Schlüssel entfernen

Ergänze den Code, um den Schlüssel `'Preis'` aus `produkt` zu entfernen.

In [ ]:
produkt = {"Name": "Laptop", "Marke": "Dell", "Preis": 1200}
del produkt["Preis"]
print(produkt)

{'Name': 'Laptop', 'Marke': 'Dell'}

## Aufgabe 18: Alle Schlüssel-Wert-Paare ausgeben

Ergänze den Code, um alle Schlüssel-Wert-Paare in `personen` mit einer `for`-Schleife auszugeben.

In [ ]:
personen = {"Anna": 25, "Ben": 30, "Clara": 22}
for person in personen.items():
    print(person)

('Anna', 25)
('Ben', 30)
('Clara', 22)

## Aufgabe 19: Anzahl der Elemente berechnen

Ergänze den Code, um die Anzahl der Elemente im Dictionary `produkte` zu berechnen.

In [ ]:
produkte = {"Laptop": 3, "Handy": 5, "Tablet": 2}
anzahl = len(produkte)
print(anzahl)

3

## Aufgabe 20: Dictionary nach Werten sortieren

Ergänze den Code, um das Dictionary `punkte` nach den Werten aufsteigend zu sortieren.

In [ ]:
punkte = {"Anna": 85, "Ben": 92, "Clara": 78}
sortiert = dict(sorted(punkte.items(), key=lambda item: item[1]))
print(sortiert)

{'Clara': 78, 'Anna': 85, 'Ben': 92}