<a href="https://colab.research.google.com/github/ThorGroth/D-D/blob/master/05.03.25Thor_Michael_Groth_PythonDrills_14_lists_dicts_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Aufgabe 1: Liste erstellen

Ergänze den Code, um eine **Liste** mit den Zahlen `1, 2, 3, 4, 5` zu erstellen.

In [ ]:
zahlen = [1, 2, 3, 4, 5]
print(zahlen)  # Erwartete Ausgabe: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

## Aufgabe 2: Dictionary erstellen

Ergänze den Code, um ein **Dictionary** mit Namen als Schlüssel und Alter als Werte zu erstellen.

In [ ]:
personen = {"Anna": 25, "Ben": 30, "Clara": 22}
print(personen)  # Erwartete Ausgabe: {'Anna': 25, 'Ben': 30, 'Clara': 22}

{'Anna': 25, 'Ben': 30, 'Clara': 22}

## Aufgabe 3: Drittes Element aus Liste abrufen

Ergänze den Code, um das **dritte Element** aus der Liste `früchte` zu erhalten.

In [ ]:
fruechte = ["Apfel", "Banane", "Kirsche"]
drittes_element = fruechte[2]
print(drittes_element)

Kirsche

## Aufgabe 4: Wert aus Dictionary abrufen

Ergänze den Code, um das **Alter von Ben** aus dem Dictionary `personen` abzurufen.

In [ ]:
personen = {"Anna": 25, "Ben": 30, "Clara": 22}
alter_ben = personen["Ben"]
print(alter_ben)

30

## Aufgabe 5: Element zu Liste hinzufügen

Ergänze den Code, um `'Mango'` am Ende der Liste `früchte` hinzuzufügen.

In [ ]:
fruechte = ["Apfel", "Banane", "Kirsche"]
fruechte.append("Mango")
print(fruechte)

['Apfel', 'Banane', 'Kirsche', 'Mango']

## Aufgabe 6: Schlüssel-Wert zu Dictionary hinzufügen

Ergänze den Code, um `'David': 27` zu `personen` hinzuzufügen.

In [ ]:
personen = {"Anna": 25, "Ben": 30, "Clara": 22}
personen["David"] = 27
print(personen)

{'Anna': 25, 'Ben': 30, 'Clara': 22, 'David': 27}

## Aufgabe 7: Element an den Anfang einer Liste einfügen

Ergänze den Code, um `'Birne'` an den **Anfang** der Liste `früchte` einzufügen.

In [ ]:
fruechte = ["Apfel", "Banane", "Kirsche"]
fruechte.insert(0, "Birne")
print(fruechte)

['Birne', 'Apfel', 'Banane', 'Kirsche']

## Aufgabe 8: Neues Auto zum Dictionary hinzufügen

Ergänze den Code, um `'Tesla': 'Model 3'` zum Dictionary `autos` hinzuzufügen.

In [ ]:
autos = {"BMW": "X5", "Audi": "A6"}
autos["Tesla"] = "Model 3"
print(autos)

{'BMW': 'X5', 'Audi': 'A6', 'Tesla': 'Model 3'}

## Aufgabe 9: Element aus Liste entfernen

Ergänze den Code, um `'Banane'` aus der Liste `früchte` zu entfernen.

In [ ]:
fruechte = ["Apfel", "Banane", "Kirsche"]
fruechte.remove("Banane")
print(fruechte)

['Apfel', 'Kirsche']

## Aufgabe 10: Schlüssel aus Dictionary entfernen

Ergänze den Code, um `'Clara'` aus `personen` zu entfernen.

In [ ]:
personen = {"Anna": 25, "Ben": 30, "Clara": 22}
del personen["Clara"]
print(personen)

{'Anna': 25, 'Ben': 30}

## Aufgabe 11: Letztes Element aus Liste entfernen

Ergänze den Code, um das letzte Element aus der Liste `zahlen` zu entfernen.

In [ ]:
zahlen = [10, 20, 30, 40, 50]
del zahlen [4]
print(zahlen)

[10, 20, 30, 40]

## Aufgabe 12: Schlüssel aus Dictionary entfernen

Ergänze den Code, um `'Audi'` aus `autos` zu entfernen.

In [ ]:
autos = {"BMW": "X5", "Audi": "A6", "Tesla": "Model 3"}
del autos ["Audi"]
print(autos)

{'BMW': 'X5', 'Tesla': 'Model 3'}

## Aufgabe 13: Ersten Buchstaben eines Listenelements abrufen

Ergänze den Code, um den **ersten Buchstaben** des ersten Elements in `früchte` auszugeben.

In [ ]:
fruechte = ["Apfel", "Banane", "Kirsche"]
erster_buchstabe = fruechte [0][0]
print(erster_buchstabe)

A

## Aufgabe 14: Wert in einem Dictionary ändern

Ergänze den Code, um das Alter von `'Ben'` im Dictionary `personen` auf `35` zu ändern.

In [ ]:
personen = {"Anna": 25, "Ben": 30, "Clara": 22}
personen ["Ben"] = 35
print(personen)

{'Anna': 25, 'Ben': 35, 'Clara': 22}

## Aufgabe 15: Liste mit `for`-Schleife ausgeben

Ergänze den Code, um alle Elemente in der Liste `zahlen` auszugeben.

In [ ]:
zahlen = [1, 2, 3, 4, 5]
for zahl in zahlen:
    print(zahl)

1
2
3
4
5

## Aufgabe 16: Schlüssel eines Dictionaries mit `for`-Schleife ausgeben

Ergänze den Code, um alle Schlüssel in `autos` auszugeben.

In [ ]:
autos = {"BMW": "X5", "Audi": "A6", "Tesla": "Model 3"}
for auto in autos:
    print(auto)

BMW
Audi
Tesla

## Aufgabe 17: Schlüssel-Wert-Paare eines Dictionaries ausgeben

Ergänze den Code, um alle Schlüssel-Wert-Paare aus `personen` auszugeben.

In [ ]:
personen = {"Anna": 25, "Ben": 30, "Clara": 22}
for name, alter in personen.items():
    print(name,":", alter)

Anna : 25
Ben : 30
Clara : 22

## Aufgabe 18: Nur gerade Zahlen in einer Liste ausgeben

Ergänze den Code, um nur die geraden Zahlen in `zahlen` auszugeben.

In [ ]:
zahlen = [1, 2, 3, 4, 5, 6]
for zahl in zahlen:
    if zahl % 2 == 0:
        print(zahl)

2
4
6

## Aufgabe 19: Personen über 25 aus einem Dictionary filtern

Ergänze den Code, um nur Personen mit einem Alter über `25` auszugeben.

In [ ]:
personen = {"Anna": 25, "Ben": 30, "Clara": 22}
for name, alter in personen.items():
    if alter > 25:
        print(name, alter)

Ben 30

## Aufgabe 20: Element an spezifischer Position in einer Liste einfügen

Ergänze den Code, um `'Python'` am **zweiten Platz** in der Liste `sprachen` einzufügen.

In [ ]:
sprachen = ["C++", "JavaScript"]
sprachen.insert(1, "Python")
print(sprachen)

['C++', 'Python', 'JavaScript']