<a href="https://colab.research.google.com/github/ThorGroth/D-D/blob/master/Thor_Michael_Groth_PythonDrills_17_iterate_mixed_datastructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Aufgabe 1: Iteration durch eine Liste von Listen

Ergänze den Code, um alle Elemente in `matrix` auszugeben.

In [1]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for zeile in matrix:
    for zahl in zeile:
        print(zahl)

1
2
3
4
5
6
7
8
9

## Aufgabe 2: Zeilensummen berechnen

Ergänze den Code, um die Summe jeder Zeile in `matrix` zu berechnen.

In [2]:
matrix = [[2, 4, 6], [1, 3, 5], [7, 8, 9]]
for zeile in matrix:
    summe = sum(zeile)
    print(summe)

12
9
24

## Aufgabe 3: Nur gerade Zahlen ausgeben

Ergänze den Code, um nur die **geraden Zahlen** aus `matrix` auszugeben.

In [3]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for zeile in matrix:
    for zahl in zeile:
        if zahl % 2 == 0:
            print(zahl)

2
4
6
8

## Aufgabe 4: Maximale Werte pro Zeile finden

Ergänze den Code, um das größte Element jeder Zeile in `matrix` zu finden.

In [4]:
matrix = [[3, 8, 1], [9, 2, 7], [4, 5, 6]]
for zeile in matrix:
    print(max(zeile))

8
9
6

## Aufgabe 5: Matrix transponieren

Ergänze den Code, um eine neue Liste `transponierte_matrix` mit der transponierten Matrix zu erstellen.

In [5]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transponierte_matrix = [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]
print(transponierte_matrix)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

## Aufgabe 6: Iteration durch ein Dictionary von Dictionaries

Ergänze den Code, um alle Namen aus `personen` auszugeben.

In [6]:
personen = {"Anna": {"Alter": 25, "Stadt": "Berlin"}, "Ben": {"Alter": 30, "Stadt": "Hamburg"}}
for name in personen:
    print(name)

Anna
Ben

## Aufgabe 7: Städte aus einem Dictionary abrufen

Ergänze den Code, um alle Städte der Personen in `personen` auszugeben.

In [9]:
personen = {"Anna": {"Alter": 25, "Stadt": "Berlin"}, "Ben": {"Alter": 30, "Stadt": "Hamburg"}}
for person in personen.values():
    print(person["Stadt"])

Berlin
Hamburg

## Aufgabe 8: Personen mit bestimmtem Alter filtern

Ergänze den Code, um nur Personen mit einem Alter über 26 auszugeben.

In [16]:
personen = {"Anna": {"Alter": 25, "Stadt": "Berlin"}, "Ben": {"Alter": 30, "Stadt": "Hamburg"}}
for name, daten in personen.items():
    if daten["Alter"] > 26:
        print(name)

Ben

## Aufgabe 9: Anzahl der Personen berechnen

Ergänze den Code, um die Gesamtzahl der Personen in `personen` zu berechnen.

In [17]:
personen = {"Anna": {"Alter": 25, "Stadt": "Berlin"}, "Ben": {"Alter": 30, "Stadt": "Hamburg"}}
anzahl = len(personen)
print(anzahl)

2

## Aufgabe 10: Iteration durch eine Liste von Dictionaries

Ergänze den Code, um alle Namen aus `personen` auszugeben.

In [19]:
personen = [{"Name": "Anna", "Alter": 25}, {"Name": "Ben", "Alter": 30}]
for person in personen:
    print(person["Name"])

Anna
Ben

## Aufgabe 11: Durchschnittsalter berechnen

Ergänze den Code, um das Durchschnittsalter in `personen` zu berechnen.

In [21]:
personen = [{"Name": "Anna", "Alter": 25}, {"Name": "Ben", "Alter": 30}, {"Name": "Clara", "Alter": 27}]
durchschnitt = sum(person["Alter"] for person in personen) / len(personen)
print(durchschnitt)

27.333333333333332

## Aufgabe 12: Personen unter 30 filtern

Ergänze den Code, um nur Personen mit `Alter < 30` auszugeben.

In [22]:
personen = [{"Name": "Anna", "Alter": 25}, {"Name": "Ben", "Alter": 30}, {"Name": "Clara", "Alter": 27}]
for person in personen:
    if person["Alter"] < 30:
        print(person)

{'Name': 'Anna', 'Alter': 25}
{'Name': 'Clara', 'Alter': 27}

## Aufgabe 13: Iteration durch ein Dictionary mit Listen als Werten

Ergänze den Code, um alle Fächer in `klassen` auszugeben.

In [23]:
klassen = {"Mathe": ["Anna", "Ben"], "Englisch": ["Clara", "Tom"]}
for klasse in klassen:
    print(klasse)

Mathe
Englisch

## Aufgabe 14: Anzahl der Schüler pro Klasse berechnen

Ergänze den Code, um die Anzahl der Schüler in jeder Klasse zu berechnen.

In [28]:
klassen = {"Mathe": ["Anna", "Ben"], "Englisch": ["Clara", "Tom"]}
for fach, schueler in klassen.items():
    print(fach, len(schueler))

Mathe 2
Englisch 2

## Aufgabe 15: Klassen mit mehr als einem Schüler filtern

Ergänze den Code, um nur Klassen mit mehr als 1 Schüler auszugeben.

In [31]:
klassen = {"Mathe": ["Anna", "Ben"], "Englisch": ["Clara", "Tom"], "Physik": ["Lena"]}
for fach, schueler in klassen.items():
    if len(schueler) > 1:
        print(fach)

Mathe
Englisch