<a href="https://colab.research.google.com/github/ThorGroth/D-D/blob/master/Thor_Michael_Groth_PythonDrills_15_mixed_datastructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Aufgabe 1: Liste von Listen erstellen

Ergänze den Code, um eine Liste mit 3 Listen zu erstellen.

In [3]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## Aufgabe 2: Element aus einer verschachtelten Liste abrufen

Ergänze den Code, um das Element `6` aus `matrix` zu erhalten.

In [6]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
element = matrix[1][2]
print(element)

6

## Aufgabe 3: Alle Elemente einer bestimmten Liste ausgeben

Ergänze den Code, um alle Elemente der zweiten Liste auszugeben.

In [7]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for element in matrix[1]:
    print(element)

4
5
6

## Aufgabe 4: Letztes Element der letzten Liste abrufen

Ergänze den Code, um das letzte Element der letzten Liste zu erhalten.

In [8]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
letztes_element = matrix[2][2]
print(letztes_element)

9

## Aufgabe 5: Alle Elemente einer Matrix zeilenweise ausgeben

Ergänze den Code, um alle Elemente der Matrix zeilenweise auszugeben.

In [9]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for zeile in matrix:
    for wert in zeile:
        print(wert)

1
2
3
4
5
6
7
8
9

## Aufgabe 6: Dictionary von Dictionaries erstellen

Ergänze den Code, um ein Dictionary mit zwei verschachtelten Dictionaries zu erstellen.

In [11]:
daten = {
    "Ben":{"Alter": 30, "Stadt": "Berlin"},
    "Anna": {"Alter": 25, "Stadt": "Hamburg"}
    }
print(daten)

{'Ben': {'Alter': 30, 'Stadt': 'Berlin'}, 'Anna': {'Alter': 25, 'Stadt': 'Hamburg'}}

## Aufgabe 7: Wert aus einem verschachtelten Dictionary abrufen

Ergänze den Code, um das Alter von `Ben` aus `daten` abzurufen.

In [12]:
daten = {'Ben': {'Alter': 30, 'Stadt': 'Berlin'}, 'Anna': {'Alter': 25, 'Stadt': 'Hamburg'}}
alter_ben = daten["Ben"]["Alter"]
print(alter_ben)

30

## Aufgabe 8: Wert in einem verschachtelten Dictionary ändern

Ergänze den Code, um die Stadt von `Anna` zu ändern.

In [15]:
daten = {'Ben': {'Alter': 30, 'Stadt': 'Berlin'}, 'Anna': {'Alter': 25, 'Stadt': 'Hamburg'}}
stadt_anna = daten["Anna"]["Stadt"]
print(stadt_anna)

Hamburg

## Aufgabe 9: Alle Schlüssel aus einem Dictionary von Dictionaries ausgeben

Ergänze den Code, um alle Namen aus `daten` auszugeben.

In [16]:
daten = {'Ben': {'Alter': 30, 'Stadt': 'Berlin'}, 'Anna': {'Alter': 25, 'Stadt': 'Hamburg'}}
for name in daten:
    print(name)

Ben
Anna

## Aufgabe 10: Alle Werte eines bestimmten Schlüssels ausgeben

Ergänze den Code, um alle Alterswerte aus `daten` auszugeben.

In [20]:
daten = {'Ben': {'Alter': 30, 'Stadt': 'Berlin'}, 'Anna': {'Alter': 25, 'Stadt': 'Hamburg'}}
for name in daten:
    print(daten[name]['Alter'])

30
25

## Aufgabe 11: Liste von Dictionaries erstellen

Ergänze den Code, um eine Liste mit zwei Dictionaries zu erstellen.

In [21]:
personen = [
    {"name": "Ben", "alter": 30, "stadt": "Berlin"},
    {"name": "Anna", "alter": 25, "stadt": "Hamburg"}
]
print(personen)

[{'name': 'Ben', 'alter': 30, 'stadt': 'Berlin'}, {'name': 'Anna', 'alter': 25, 'stadt': 'Hamburg'}]

## Aufgabe 12: Wert aus einer Liste von Dictionaries abrufen

Ergänze den Code, um den Namen der zweiten Person in `personen` zu erhalten.

In [23]:
personen = [{'Name': 'Ben', 'Alter': 30}, {'Name': 'Anna', 'Alter': 25}]
name_zweite_person = personen[1]["Name"]
print(name_zweite_person)

Anna

## Aufgabe 13: Alle Namen aus einer Liste von Dictionaries ausgeben

Ergänze den Code, um alle Namen aus `personen` auszugeben.

In [25]:
personen = [{'Name': 'Ben', 'Alter': 30}, {'Name': 'Anna', 'Alter': 25}]
for person in personen:
    print(person["Name"])

Ben
Anna

## Aufgabe 14: Wert in einer Liste von Dictionaries ändern

Ergänze den Code, um das Alter der ersten Person in `personen` zu erhöhen.

In [29]:
personen = [{'Name': 'Ben', 'Alter': 30}, {'Name': 'Anna', 'Alter': 25}]
personen[0]["Alter"] += 1
print(personen[0]['Alter'])

31

## Aufgabe 15: Neues Element zur Liste von Dictionaries hinzufügen

Ergänze den Code, um eine neue Person zu `personen` hinzuzufügen.

In [31]:
personen = [{'Name': 'Ben', 'Alter': 30}, {'Name': 'Anna', 'Alter': 25}]
personen.append({"Name": "Thor", "Alter":36})
print(personen)

[{'Name': 'Ben', 'Alter': 30}, {'Name': 'Anna', 'Alter': 25}, {'Name': 'Thor', 'Alter': 36}]

## Aufgabe 16: Dictionary mit Listen als Werten erstellen

Ergänze den Code, um ein Dictionary mit Listen als Werten zu erstellen.

In [33]:
klassen = {
    'Mathe': ['Ben', 'Anna'],
    'Englisch': ['Clara', 'Tom']
}
print(klassen)

{'Mathe': ['Ben', 'Anna'], 'Englisch': ['Clara', 'Tom']}

## Aufgabe 17: Werte aus einem Dictionary mit Listen abrufen

Ergänze den Code, um alle Schüler in `Mathe` auszugeben.

In [37]:
klassen = {'Mathe': ['Ben', 'Anna'], 'Englisch': ['Clara', 'Tom']}
print(klassen['Mathe'])

['Ben', 'Anna']

## Aufgabe 18: Element zu einer Liste in einem Dictionary hinzufügen

Ergänze den Code, um `David` zur `Englisch`-Klasse hinzuzufügen.

In [38]:
klassen = {'Mathe': ['Ben', 'Anna'], 'Englisch': ['Clara', 'Tom']}
klassen["Englisch"].append("David")
print(klassen['Englisch'])

['Clara', 'Tom', 'David']

## Aufgabe 19: Alle Schlüssel eines Dictionaries mit Listen als Werten ausgeben

Ergänze den Code, um alle Fächer in `klassen` auszugeben.

In [39]:
klassen = {'Mathe': ['Ben', 'Anna'], 'Englisch': ['Clara', 'Tom']}
for fach in klassen:
    print(fach)

Mathe
Englisch

## Aufgabe 20: Alle Schlüssel-Wert-Paare in einem Dictionary mit Listen ausgeben

Ergänze den Code, um für jedes Fach die Namen der Schüler auszugeben.

In [41]:
klassen = {'Mathe': ['Ben', 'Anna'], 'Englisch': ['Clara', 'Tom']}
for fach, schueler in klassen.items():
    print(fach, ":", ','.join(schueler))

Mathe : Ben,Anna
Englisch : Clara,Tom