<a href="https://colab.research.google.com/github/ThorGroth/D-D/blob/master/Thor_Michael_Groth_PythonDrills_16_for_loops_lists_dicts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Aufgabe 1: Liste iterieren

Ergänze den Code, um alle Elemente in der Liste `früchte` auszugeben.

In [1]:
fruechte = ["Apfel", "Banane", "Kirsche", "Mango"]
for frucht in fruechte:
    print(frucht)

Apfel
Banane
Kirsche
Mango

## Aufgabe 2: Wortlängen ausgeben

Ergänze den Code, um die **Längen** der Wörter in `wörter` auszugeben.

In [2]:
woerter = ["Katze", "Hund", "Elefant"]
for wort in woerter:
    print(len(wort))

5
4
7

## Aufgabe 3: Zahlen verdoppeln

Ergänze den Code, um jedes Element in `zahlen` zu verdoppeln und auszugeben.

In [3]:
zahlen = [1, 2, 3, 4, 5]
for zahl in zahlen:
    print(zahl * 2)

2
4
6
8
10

## Aufgabe 4: Quadrate von Zahlen

Ergänze den Code, um die Quadrate aller Zahlen in `werte` auszugeben.

In [4]:
werte = [2, 4, 6, 8]
for wert in werte:
    print(wert ** 2)

4
16
36
64

## Aufgabe 5: Wörter in Großbuchstaben

Ergänze den Code, um alle Elemente von `buchstaben` in **Großbuchstaben** auszugeben.

In [5]:
buchstaben = ["a", "b", "c", "d"]
for buchstabe in buchstaben:
    print(buchstabe.upper())

A
B
C
D

## Aufgabe 6: Nur gerade Zahlen ausgeben

Ergänze den Code, um nur die **geraden Zahlen** aus `zahlen` auszugeben.

In [6]:
zahlen = [1, 2, 3, 4, 5, 6, 7, 8]
for zahl in zahlen:
    if zahl % 2 == 0:
        print(zahl)

2
4
6
8

## Aufgabe 7: Wörter mit mehr als 4 Zeichen

Ergänze den Code, um nur Wörter mit **mehr als 4 Zeichen** auszugeben.

In [7]:
woerter = ["Auto", "Haus", "Schmetterling", "Baum"]
for wort in woerter:
    if len(wort) > 4:
        print(wort)

Schmetterling

## Aufgabe 8: Zahlen größer als 5 und gerade

Ergänze den Code, um nur Zahlen auszugeben, die **größer als 5 und durch 2 teilbar** sind.

In [8]:
werte = [2, 4, 6, 8, 10, 12]
for wert in werte:
    if wert > 5 and wert % 2 == 0:
        print(wert)

6
8
10
12

## Aufgabe 9: Wörter filtern, die mit A beginnen

Ergänze den Code, um nur Wörter auszugeben, die mit `'A'` beginnen.

In [9]:
namen = ["Anna", "Ben", "Alice", "Markus"]
for name in namen:
    if name.startswith("A"):
        print(name)

Anna
Alice

## Aufgabe 10: Schlüssel aus einem Dictionary ausgeben

Ergänze den Code, um alle **Schlüssel** in `personen` auszugeben.

In [10]:
personen = {"Anna": 25, "Ben": 30, "Clara": 22}
for person in personen:
    print(person)

Anna
Ben
Clara

## Aufgabe 11: Werte eines Dictionaries ausgeben

Ergänze den Code, um alle **Werte** in `personen` auszugeben.

In [14]:
personen = {"Anna": 25, "Ben": 30, "Clara": 22}
for alter in personen.values():
    print(alter)

25
30
22

## Aufgabe 12: Schlüssel-Wert-Paare ausgeben

Ergänze den Code, um alle **Schlüssel-Wert-Paare** in `autos` auszugeben.

In [16]:
autos = {"BMW": "X5", "Audi": "A6", "Mercedes": "C-Klasse"}
for auto, marke in autos.items():
    print(auto, ":", marke)

BMW : X5
Audi : A6
Mercedes : C-Klasse

## Aufgabe 13: Personen unter 30 ausgeben

Ergänze den Code, um nur Personen mit einem Alter **unter 30** auszugeben.

In [17]:
personen = {"Anna": 25, "Ben": 30, "Clara": 22}
for person, alter in personen.items():
    if alter < 30:
        print(person)

Anna
Clara

## Aufgabe 14: Liste mit Quadraten erstellen

Ergänze den Code, um eine neue Liste mit den **Quadraten der Zahlen** in `werte` zu erstellen.

In [18]:
werte = [2, 4, 6, 8]
quadrate = []
for wert in werte:
    quadrate.append(wert ** 2)
print(quadrate)

[4, 16, 36, 64]

## Aufgabe 15: Werte in Dictionary erhöhen

Ergänze den Code, um alle Werte in `personen` **um 1 zu erhöhen**.

In [20]:
personen = {"Anna": 25, "Ben": 30, "Clara": 22}
for alter in personen:
    personen[alter] += 1
print(personen)

{'Anna': 26, 'Ben': 31, 'Clara': 23}

## Aufgabe 16: Schleife bei einer Zahl stoppen

Ergänze den Code, um die Schleife bei der Zahl `5` zu stoppen.

In [21]:
zahlen = [1, 2, 3, 4, 5, 6, 7]
for zahl in zahlen:
    if zahl == 5:
        break
    print(zahl)

1
2
3
4

## Aufgabe 17: Eine Zahl überspringen

Ergänze den Code, um die Zahl `5` zu überspringen.

In [22]:
zahlen = [1, 2, 3, 4, 5, 6, 7]
for zahl in zahlen:
    if zahl == 5:
        continue
    print(zahl)

1
2
3
4
6
7

## Aufgabe 18: Summe aller Werte in einem Dictionary berechnen

Ergänze den Code, um die **Summe aller Werte in `produkte`** zu berechnen.

In [24]:
produkte = {"Laptop": 1200, "Handy": 800, "Tablet": 500}
summe = 0
for preis in produkte.values():
    summe += preis
print(summe)

2500

## Aufgabe 19: Teuerstes Produkt finden

Ergänze den Code, um das teuerste Produkt in `produkte` zu finden.

In [25]:
produkte = {"Laptop": 1200, "Handy": 800, "Tablet": 500}
teuerstes_produkt = ""
max_preis = 0
for produkt, preis in produkte.items():
    if preis > max_preis:
        teuerstes_produkt = produkt
        max_preis = preis
print(teuerstes_produkt, max_preis)

Laptop 1200

## Aufgabe 20: Wörter mit Vokalen filtern

Ergänze den Code, um eine neue Liste mit Wörtern aus `woerter` zu erstellen, die mindestens einen Vokal enthalten.

In [26]:
woerter = ["Krt", "Apfel", "Brn", "Ei"]
mit_vokalen = []
for wort in woerter:
    if any(buchstabe in "aeiouAEIOU" for buchstabe in wort):
        mit_vokalen.append(wort)
print(mit_vokalen)

['Apfel', 'Ei']